
@{
    ViewBag.Title = "Index";
}
<script src="~/Controllers/Select.js" defer></script>

<form action="/Transferencia/Transferir" method="post">
    <h2>CUENTA ORIGEN</h2>
    @ViewBag.error
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label>Cuenta:</label>
            </div>
            <div class="col-12 col-sm-6">
                <select id="ORIGEN" name="ORIGEN">
                    @foreach (var cuenta in ViewBag.cuentas)
                    {
                        <option value="@cuenta.NRO_CUENTA">@cuenta.NRO_CUENTA2</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label>Saldo:</label>
            </div>
            <div class="col-12 col-sm-6">
                <input type="text" id="SALDO" name="SALDO" value="@ViewBag.saldo" />
            </div>
        </div>
    </div>

    <br />
    <h2>CUENTA DESTINO</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label>Cuenta:</label>
            </div>
            <div class="col-12 col-sm-6">
                <select name="DESTINO">
                    @foreach (var cuenta in ViewBag.cuentas)
                    {
                        <option value="@cuenta.NRO_CUENTA">@cuenta.NRO_CUENTA2</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label>Monto:</label>
            </div>
            <div class="col-12 col-sm-6">
                <input type="text" name="MONTO" value="@ViewBag.monto" class="cuarenta" />
                
            </div>
        </div>
    </div>
    <br />
    <p align="right">
        <button type="submit" name="accion" value="aceptar">Aceptar</button>
        <button type="submit" name="accion" value="cancelar">Cancelar</button>

    </p>
</form>

